:root {
  --primary-bg-color: #0b1d26;
  --primary-font-color: #FFF;
  --secondary-font-color: #fbd784;
  --extra-small-devices: 575.98px;
  --small-devices: 576px;
  --medium-devices: 768px;
  --large-devices: 992px;
  --extra-large-devices: 1200px;
}

html {
  font-size: 16px; /* root HTML element font size: 1rem */
  scroll-behavior: smooth;

}

/*Extra small devices (phones, less than 576px)
@media (max-width: var(--extra-small-devices)) {
}*/
/* Small devices (tablets, 576px and up) 
@media (min-width: var(--small-devices)) {
}*/

/* Medium devices (desktops, 768px and up) */
@media (min-width: var(--medium-devices)) {
}

/* Large devices (large desktops, 992px and up) */
@media (min-width: var(--large-devices)) {
}

/* Extra large devices (larger desktops, 1200px and up) */
@media (min-width: var(--extra-large-devices)) {
}

body {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  color: var(--primary-font-color);
}
